{
	"printWidth": 120,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "auto"
}
